<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>MAINTENANCE</h1>
        <p>The site is currently being updated so please wait patiently</p>

        {{> footer }}
    </body>
</html>